<template>
     <!-- VERTICAL LAYOUT -->
		<div class="vx-col w-full mb-base">
			<vx-card title="Whatsapp Message">
                    <form>
                         <div class="vx-row mb-6">
                              <div class="vx-col w-full">
                                   <vs-input class="w-full" v-validate="'required'" label="No Telepon" type="number" placeholder="Exp: 62xxxxx, "  name="no_telp" v-model="no_telp" />
                                   <span class="text-danger text-sm"  v-show="errors.has('no_telp')">{{ errors.first('no_telp') }}</span>
                              </div>
                         </div>
                         <div class="vx-row mb-6">
                              <div class="vx-col w-full">
                                   <vs-textarea v-validate="'required'" class="w-full" name="message" label="Message" v-model="message" />
                                   <span class="text-danger text-sm" v-show="errors.has('message')">{{ errors.first('message') }}</span>
                              </div>
                         </div>
                         <div class="vx-row">
                              <div class="vx-col w-full">
                                   <vs-button type="filled" @click.prevent="submitForm" class="mr-3 mb-2">Submit</vs-button>
                                   <vs-button color="warning" type="border" class="mb-2" @click="no_telp = message = '';">Reset</vs-button>
                              </div>
                         </div>
                    </form>
			</vx-card>
		</div>
</template>

<script>
import axios from 'axios'
export default {
     name: 'Pesan',
     data() {
          return {
               no_telp: '',
               message: '',
               fcm_token: ''
		}
     },
     methods: {
        submitForm() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    // if form have no errors
                    axios
                         .post('http://backend.local/api/kirim-pesan', {no_telp: this.no_telp, message: this.message})
                         .then((res) => {
                              console.log(res);
                         })
                         .catch((error) => {
                              console.log(error);
                         });
                }else{
                    // form have errors
                }
            })
        }
    },
}
</script>