<template>
     <div>
          <pesan></pesan>
     </div>
</template>

<script>
import Pesan from './Pesan.vue'
     export default {
          components: {
               Pesan
          }
     }
</script>