<!-- =========================================================================================
  File Name: UserEdit.vue
  Description: User Edit Page
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="page-user-edit">
    
    <vs-alert color="danger" title="User Not Found" :active.sync="user_not_found">
      <span>User record with id: {{ $route.params.userId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'page-user-list'}" class="text-inherit underline">All Users</router-link>
      </span>
    </vs-alert>

    <div class="vx-col md:w-1/2 w-full mb-base">
      <vx-card v-if="user_data" title="Edit User">
        <form>
            <div class="vx-row mb-6">
                <div class="vx-col w-full">
                    <vs-select v-model="form.company" v-validate="'required'" name="company" label="Company" class="select-large mt-5 w-full">
                        <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in form.options1" />
                    </vs-select>
                    <span class="text-danger text-sm"  v-show="errors.has('company')">{{ errors.first('company') }}</span>
                </div>
            </div>
            <div class="vx-row mb-6">
                <div class="vx-col w-full">
                    <vs-input class="w-full" v-validate="'required'" name="name" label="Name" v-model="form.name" />
                    <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>
                </div>
            </div>
            <div class="vx-row mb-6">
                <div class="vx-col w-full">
                    <vs-input class="w-full" v-validate="'required|email'" name="email" type="email" label="Email" v-model="form.email" />
                    <span class="text-danger text-sm"  v-show="errors.has('email')">{{ errors.first('email') }}</span>
                </div>
            </div>
            <div class="vx-row mb-6">
                <div class="vx-col w-full">
                    <vs-select v-model="form.city" v-validate="'required'" name="city" label="City" class="select-large mt-5 w-full">
                        <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in form.options2" />
                    </vs-select>
                    <span class="text-danger text-sm"  v-show="errors.has('city')">{{ errors.first('city') }}</span>
                </div>
            </div>
            <div class="vx-row mb-6">
                <div class="vx-col w-full">
                    <vs-checkbox class="inline-flex" name="isAdmin" v-model="form.isAdmin">As Administrator</vs-checkbox>
                </div>
            </div>
            <div class="vx-row mb-6">
                <div class="vx-col w-full">
                    <vs-checkbox class="inline-flex" name="isActive" v-model="form.isActive">Active</vs-checkbox>
                </div>
            </div>
            <vs-divider></vs-divider>
            <div class="vx-row mb-6">
                <div class="vx-col w-full">
                    <div class="vx-row w-full">
                        <div class="vx-col w-5/6">
                            <vs-input class="w-full" icon-pack="feather" v-validate="'required'" name="contact" icon="icon-search" icon-after vs-icon-after="true" label="Contact" v-model="form.contact" />
                            <span class="text-danger text-sm"  v-show="errors.has('contact')">{{ errors.first('contact') }}</span>
                        </div>
                        <div class="vx-col w-1/6">
                            <vs-button radius color="danger" type="filled" icon-pack="feather" id="remove-contact" icon="icon-x" style="margin-top: 20px"></vs-button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-button class="mr-3 mb-2" @click.prevent="submitForm">Submit</vs-button>
                    <vs-button color="warning" type="border" class="mb-2" @click="input1 = input2 = input3 = input4 = input5 = select1 = select2 = ''; isAdmin = false">Reset</vs-button>
                </div>
            </div>
        </form>

      </vx-card>
    </div>
  </div>
</template>

<script>
// Store Module
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'
import axios from 'axios'

export default {
  data() {
    return {
      user_data: null,
      user_not_found: false,
      form: {
        name: "",
        email: "",
        contact: "",
        isAdmin: false,
        isActive: true,
        company: "",
        options1: [
            {text: "Pilarmedia Indonesia", value: 1},
            {text: "Test1", value: 2},
            {text: "Test2", value: 3},
            {text: "Test3", value: 4},
            {text: "Test4", value: 5},
        ],
        city: "",
        options2: [
            {text: "Surabaya", value: 1},
            {text: "Mojokerto", value: 2},
            {text: "Malang", value: 3},
            {text: "Gresik", value: 4},
            {text: "Kediri", value: 5},
        ],
      }
    }
  },
  methods: {
    fetch_user_data(userId) {
      this.$store.dispatch("userManagement/fetchUser", userId)
        .then(res => { 
          this.user_data = res.data,
          this.form.company = this.user_data.company_id,
          this.form.name = this.user_data.name,
          this.form.email = this.user_data.email,
          this.form.city = this.user_data.city_id,
          this.form.isAdmin = this.user_data.is_admin,
          this.form.isActive = this.user_data.is_active,
          this.form.contact = this.user_data.contact_id
        })
        .catch(err => {
          if(err.response.status === 404) {
            this.user_not_found = true
            return
          }
          console.error(err) })
    },
    submitForm() {
      this.$validator.validateAll().then(result => {
          if(result) {
              // if form have no errors
              axios
                    .put('http://backend.local/api/users/' + this.user_data.uuid, this.form)
                    .then((res) => {
                        this.$router.push('/data/user')
                    })
                    .catch((error) => {
                        this.$router.push('/data/user')
                    });
          }else{
              // form have errors
          }
      })
    }
  },
  created() {
    // Register Module UserManagement Module
    if(!moduleUserManagement.isRegistered) {
      this.$store.registerModule('userManagement', moduleUserManagement)
      moduleUserManagement.isRegistered = true
    }
    this.fetch_user_data(this.$route.params.userId)
  }
}

</script>
