<template>
    <vx-card class="vx-col md:w-1/2 w-full"><h4>Previlage {{name}}</h4>
        <br>
        <!-- {{select.role_id}} -->
        <vs-table>
            <template slot="thead">
                <vs-th sort-key="previlage">Previlage</vs-th>
                <vs-th sort-key="checkbox">Check</vs-th>
            </template>
            <template slot-scope="">
                <!-- <form> -->
                    <vs-tr :key="indextr" :data="tr" v-for="(tr, indextr) in role">
                        <!-- {{role[indextr]}} -->
                        <vs-td :data="role[indextr].name" v-if="role[indextr].deep == 1" style="width: 80%">
                            <span style="margin-left: 0px">{{role[indextr].name}}</span>
                        </vs-td>

                        <vs-td :data="role[indextr].name" v-if="role[indextr].deep == 2" style="width: 80%">
                            <span style="margin-left: 10px">{{role[indextr].name}}</span>
                        </vs-td>

                        <vs-td :data="role[indextr].name" v-if="role[indextr].deep == 3" style="width: 80%">
                            <span style="margin-left: 20px">{{role[indextr].name}}</span>
                        </vs-td>

                        <vs-td :data="role[indextr].name" v-if="role[indextr].deep == 4" style="width: 80%">
                            <span style="margin-left: 30px">{{role[indextr].name}}</span>
                        </vs-td>

                        <vs-td :data="role[indextr].name" v-if="role[indextr].deep == 5" style="width: 80%">
                            <span style="margin-left: 40px">{{role[indextr].name}}</span>
                        </vs-td>

                        <vs-td :data="role[indextr].name" v-if="role[indextr].deep == 6" style="width: 80%">
                            <span style="margin-left: 50px">{{role[indextr].name}}</span>
                        </vs-td>

                        <vs-td :data="role[indextr].id" style="width: 20%">
                            <!-- <vs-checkbox class="inline-flex" name="select_id[]" @click="select(role[indextr].id)" :id="role[indextr].id" :value="role[indextr].id" v-model="select.role_id[role[indextr].id]"></vs-checkbox> -->
                            <input type="checkbox" name="roles" style="transform: scale(1.5)" v-model="select.role_id" :id="role[indextr].id" :value="role[indextr].id">
                            <!-- <input type="checkbox" name="roles" style="transform: scale(1.5)" v-if="role[indextr].ifTrue == false" v-model="select.role_id" :id="role[indextr].id" :value="role[indextr].id"> -->
                        </vs-td>
                        <!-- <vs-input class="w-full" type="hidden" name="role_id[]" v-model="form.role_id" /> -->

                    </vs-tr>
                    
                <!-- </form> -->
            </template>
        </vs-table>
        <form>
            <div class="vx-row">
                <div class="vx-col w-full">
                    <vs-input class="w-full" type="hidden" name="group_type" v-model="select.group_type" />
                    <vs-input class="w-full" type="hidden" name="role_id" v-model="select.role_id" />
                    <span class="text-danger text-sm"  v-show="errors.has('role_id')">{{ errors.first('role_id') }}</span>
                    <vs-button style="float: right" class="mr-3 mb-2" @click="submit()">Submit</vs-button>
                </div>
            </div>
        </form>
    </vx-card>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            name: "",
            role: null,
            select: {
                role_id: [],
                isTrue: true,
                isFalse: false,
                group_type: ""
            },
            permission: []
            // isCheck: []
            // form: {
            //     isCheck: false
            // }
        }
    },
    methods: {
        submit() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    // if form have no errors
                    axios
                         .post('http://backend.local/api/user/group-previlage', this.select)
                         .then((res) => {
                              this.$router.push('/apps/user/user-group')
                         })
                         .catch((error) => {
                              this.$router.push('/apps/user/user-group')
                         });
                }else{
                    // form have errors
                }
            })
        }
    },
    mounted() {
        axios.get('http://backend.local/api/user/group-previlage/' + this.$route.params.id)
            .then(response => (
                // console.log(response),
                this.name = response.data.group.name,
                this.select.group_type = response.data.group.id,
                this.role = response.data.role
                // this.select.role_id = response.data.isExists
                ))
            .catch(error => console.log(error))
    }
}
</script>