<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="extra-component-google-map-demo">
        <HereMaps  :center="center" />
    </div>
</template>

<script>
import HereMaps from './HereMaps.vue'

export default{
    components: {
        HereMaps
    },
    data() {
          return {
               center:{ 
                    lat: -7.3357318096173225, 
                    lng: 112.77759158220884, 
               }
          }
    },
    beforeCreate: function () {
      if (!this.$cookies.get('accessToken')) {
        this.$router.push('/not-authorized')
      }
    },    
}
</script>
