<template>
     <!-- VERTICAL LAYOUT -->
		<div class="vx-col w-full mb-base">
			<vx-card title="PWA Push Notification" code-toggler>
                    <form>
                         <div class="vx-row mb-6">
                              <div class="vx-col w-full">
                                   <vs-input class="w-full" v-validate="'required'" label="Title" name="title" v-model="title" />
                                   <span class="text-danger text-sm"  v-show="errors.has('title')">{{ errors.first('title') }}</span>
                              </div>
                         </div>
                         <div class="vx-row mb-6">
                              <div class="vx-col w-full">
                                   <vs-textarea v-validate="'required'" class="w-full" name="body" label="Body" v-model="body" />
                                   <span class="text-danger text-sm" v-show="errors.has('body')">{{ errors.first('body') }}</span>
                              </div>
                         </div>
                         <div class="vx-row">
                              <div class="vx-col w-full">
                                   <vs-button type="filled" @click.prevent="submitForm" class="mr-3 mb-2">Submit</vs-button>
                                   <vs-button color="warning" type="border" class="mb-2" @click="title = body = '';">Reset</vs-button>
                              </div>
                         </div>
                    </form>
			</vx-card>
		</div>
</template>

<script>
import axios from 'axios'
export default {
     data() {
          return {
               title: '',
               body: '',
               fcm_token: ''
		}
     },
     methods: {
        submitForm() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    // if form have no errors
                    const data = JSON.parse(localStorage.getItem("userInfo"))
                    axios
                         .post('http://backend.local/api/push-notif', {fcm_token: data.fcm_token, title: this.title, body: this.body})
                         .then((res) => {
                              console.log(res);
                         })
                         .catch((error) => {
                              console.log(error);
                         });
                }else{
                    // form have errors
                }
            })
        }
    },
}
</script>