<!-- =========================================================================================
    File Name: ForgotPassword.vue
    Description: FOrgot Password Page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div class="h-screen flex w-full bg-img">
        <div class="vx-col w-4/5 sm:w-4/5 md:w-3/5 lg:w-3/4 xl:w-3/5 mx-auto self-center">
            <vx-card>
                <div slot="no-body" class="full-page-bg-color">
                    <div class="vx-row">
                        <div class="vx-col hidden sm:hidden md:hidden lg:block lg:w-1/2 mx-auto self-center">
                            <img src="@/assets/images/pages/forgot-password.png" alt="login" class="mx-auto">
                        </div>
                        <div class="vx-col sm:w-full md:w-full lg:w-1/2 mx-auto self-center d-theme-dark-bg">
                            <div class="p-8">
                                <div class="vx-card__title mb-8">
                                    <h4 class="mb-4">Reset your password</h4>
                                    <p>Please enter your new password to reset your password.</p>
                                </div>

                                <vs-input
                                    ref="password"
                                    type="password"
                                    data-vv-validate-on="blur"
                                    v-validate="'required|min:6|max:10'"
                                    name="password"
                                    label-placeholder="Password"
                                    placeholder="Password"
                                    v-model="password"
                                    class="w-full mb-8" />
                                <span class="text-danger text-sm">{{ errors.first('password') }}</span>

                                <vs-input
                                    type="password"
                                    v-validate="'min:6|max:10|confirmed:password'"
                                    data-vv-validate-on="blur"
                                    data-vv-as="password"
                                    name="confirm_password"
                                    label-placeholder="Confirm Password"
                                    placeholder="Confirm Password"
                                    v-model="confirm_password"
                                    class="w-full mb-8" />
                                <span class="text-danger text-sm">{{ errors.first('confirm_password') }}</span>
                                <span></span>
                                <vs-button class="px-4 w-full md:w-auto mt-3 mb-8 md:mt-0 md:mb-0" :disabled="!validateForm" @click="resetPassword">Reset Password</vs-button>
                            </div>
                        </div>
                    </div>
                </div>
            </vx-card>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            password: '',
            confirm_password: ''
        }
    },
    computed: {
        validateForm() {
            return !this.errors.any() && this.password != '' && this.confirm_password != '';
        },
    },
    methods: {
        resetPassword() {
            if (!this.validateForm) return
            axios.post("http://backend.local/api/reset-password", {uid: this.$route.query.uid, password: this.password})
            .then(response => {
                console.log(response);
                this.$router.push('/login')
            })
        }
    },
}
</script>
