<template>
    <vx-card class="vx-col md:w-1/2 w-full" title="Group">
        <div class="demo-alignment">
            <vs-button color="primary" @click="popupActive=true" type="filled">+ Add Group </vs-button>

            <vs-popup class="holamundo"  title="New Group" :active.sync="popupActive">
                <form id="addForm">
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-input class="w-full" v-validate="'required'" label="Group Name" name="name" v-model="form.name" />
                            <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>
                        </div>
                    </div>
                     <div class="vx-row">
                        <div class="vx-col w-full">
                            <vs-button type="filled" @click.prevent="submitFormAdd" class="mr-3 mb-2">Submit</vs-button>
                        </div>
                    </div>
                </form>
            </vs-popup>

            <vs-popup class="holamundo"  title="Edit Group" :active.sync="popupEdit">
                <form id="editForm">
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-input type="hidden" class="w-full" v-validate="'required'" name="id" v-model="formEdit.id" />
                            <vs-input class="w-full" v-validate="'required'" label="Group Name" name="nama" v-model="formEdit.nama" />
                            <span class="text-danger text-sm"  v-show="errors.has('nama')">{{ errors.first('nama') }}</span>
                        </div>
                    </div>
                     <div class="vx-row">
                        <div class="vx-col w-full">
                            <vs-button type="filled" @click.prevent="submitFormEdit" class="mr-3 mb-2">Submit</vs-button>
                        </div>
                    </div>
                </form>
            </vs-popup>
        </div>

        <vs-table pagination :max-item="10" search :data="group">
            <template slot="thead">
                <vs-th sort-key="name">Nama Grup</vs-th>
                <vs-th sort-key="action">Aksi</vs-th>
            </template>
            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                    <vs-td :data="data[indextr].name" style="width: 60%">
                        {{data[indextr].name}}
                    </vs-td>

                    <vs-td :data="data[indextr].id" style="width: 40%">
                        <vs-row>
                            <div class="demo-alignment">
                                <vx-tooltip color="rgb(50, 100, 255)" text="Setting">
                                    <vs-button radius color="rgb(50, 100, 255)" type="filled" icon-pack="feather" icon="icon-settings" @click="setting(data[indextr].id)"></vs-button>
                                </vx-tooltip>
                                <vx-tooltip color="warning" text="Edit">
                                    <vs-button radius color="warning" type="filled" icon-pack="feather" icon="icon-edit" @click="popupEdit=true, dataEdit(data[indextr].id, data[indextr].name)"></vs-button>
                                </vx-tooltip>
                                <vx-tooltip color="danger" text="delete">
                                    <vs-button radius color="danger" type="filled" @click="deleteData(data[indextr].id)" icon-pack="feather" icon="icon-trash"></vs-button>                     
                                </vx-tooltip>
                            </div>
                        </vs-row>
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    </vx-card>
</template>
<script>

import axios from 'axios'

export default {
    data() {
        return {
            group: [],
            popupActive: false,
            popupEdit: false,
            form: {
                name: ""
            },
            formEdit: {
                nama: ""
            }
        }
    },
    methods: {
        // confirmDeleteData(id, name) {
        //     this.$vs.dialog({
        //         type: 'confirm',
        //         color: 'danger',
        //         title: `Confirm Delete`,
        //         text: `You are about to delete "${name}"`,
        //         accept: this.deleteData(id),
        //         acceptText: "Delete"
        //     })
        // },
        setting (id) {
            this.$router.push({name: 'app-user-group-previlage', params: { id: id }})
        },
        dataEdit(id, name) {
            this.formEdit.nama = name
            this.formEdit.id = id
        },
        deleteData (id) {
            axios
                .delete('http://backend.local/api/group/' + id)
                .then(res => {
                    this.$router.go();
                })
        },
        submitFormAdd() {
            axios
                .post('http://backend.local/api/group', this.form)
                .then((res) => {
                    this.$router.go()
                })
                .catch((error) => {
                    this.$router.go()
                });
            // this.$validator.validateAll().then(result => {
            //     console.log(result);
            //     if(result) {
            //         // if form have no errors
            //         console.log(result);
            //         axios
            //              .post('http://backend.local/api/group', this.form)
            //              .then((res) => {
            //                   this.$router.go()
            //              })
            //              .catch((error) => {
            //                   this.$router.go()
            //              });
            //     }else{
            //         // form have errors
            //     }
            // })
            // console.log("berhasil")
        },
        submitFormEdit() {
            axios
                .put('http://backend.local/api/group', this.formEdit)
                .then((res) => {
                    this.$router.go()
                })
                .catch((error) => {
                    this.$router.go()
                });
            // this.$validator.validateAll().then(result => {
            //     if(result) {
            //         // if form have no errors
            //         axios
            //              .put('http://backend.local/api/group', this.form)
            //              .then((res) => {
            //                   this.$router.go()
            //              })
            //              .catch((error) => {
            //                   this.$router.go()
            //              });
            //     }else{
            //         // form have errors
            //     }
            // })
        }
    },
    mounted () {
        axios
            .get('http://backend.local/api/group')
            .then(response => (this.group = response.data))
            .catch(error => console.log(error))
        
    }
}
</script>