<template>
    <div id="table-demo">
        <table-group></table-group>
    </div>
</template>

<script>
import TableGroup from './TableGroup.vue'

export default{
    components: {
        TableGroup
    },
    beforeCreate: function () {
      if (!this.$cookies.get('accessToken')) {
        this.$router.push('/not-authorized')
      }
    },
}
</script>