<template>
     <!-- VERTICAL LAYOUT -->
		<div class="vx-col w-full mb-base">
			<vx-card title="Vertical Form" code-toggler>
                    <form>
                         <div class="vx-row mb-6">
                              <div class="vx-col w-full">
                                   <vs-input class="w-full" v-validate="'required|alpha'" label="Name" name="name" v-model="form.name" />
                                   <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>
                              </div>
                         </div>
                         <div class="vx-row mb-6">
                              <div class="vx-col w-full">
                                   <vs-input v-validate="'required|email'" class="w-full" type="email" name="email" label="Email" v-model="form.email" />
                                   <span class="text-danger text-sm" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                              </div>
                         </div>
                         <div class="vx-row mb-6">
                              <div class="vx-col w-full">
                                   <vs-input v-validate="'required|alpha_dash'" class="w-full" label="Github" name="github" v-model="form.github" />
                                   <span class="text-danger text-sm"  v-show="errors.has('github')">{{ errors.first('github') }}</span>
                              </div>
                         </div>
                         <div class="vx-row mb-6">
                              <div class="vx-col w-full">
                                   <vs-input v-validate="'required|alpha_dash'" class="w-full" label="Twitter" name="twitter" v-model="form.twitter" />
                                   <span class="text-danger text-sm"  v-show="errors.has('twitter')">{{ errors.first('twitter') }}</span>
                              </div>
                         </div>
                         <div class="vx-row mb-6">
                              <div class="vx-col w-full">
                                   <vs-input v-validate="'required|alpha'" class="w-full" label="Location" name="location" v-model="form.location" />
                                   <span class="text-danger text-sm"  v-show="errors.has('location')">{{ errors.first('location') }}</span>
                              </div>
                         </div>
                         <div class="vx-row mb-6">
                              <div class="vx-col w-full">
                                   <vs-input v-validate="'required|alpha_dash'" class="w-full" label="Article" name="article" v-model="form.latest_article_published" />
                                   <span class="text-danger text-sm"  v-show="errors.has('article')">{{ errors.first('article') }}</span>
                              </div>
                         </div>
                         <div class="vx-row">
                              <div class="vx-col w-full">
                                   <vs-button type="filled" @click.prevent="submitForm" class="mr-3 mb-2">Submit</vs-button>
                                   <vs-button color="warning" type="border" class="mb-2" @click="input9 = input10 = input11 = input12 = input13 = input14 = '';">Reset</vs-button>
                              </div>
                         </div>
                    </form>
			</vx-card>
		</div>
</template>

<script>
import axios from 'axios'
export default {
     data() {
          return {
			form: {
                    name: '',
                    email: '',
                    github: '',
                    twitter: '',
                    location: '',
                    latest_article_published: ''
               }
			
		}
     },
     methods: {
        submitForm() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    // if form have no errors
                    axios
                         .post('http://backend.local/api/authors', this.form)
                         .then((res) => {
                              this.$router.push('/data/article')
                         })
                         .catch((error) => {
                              this.$router.push('/data/article')
                         });
                }else{
                    // form have errors
                }
            })
        }
    },
}
</script>