<!-- =========================================================================================
    File Name: Table.vue
    Description: Table demo - Imports all table demos
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <div id="table-demo">
        <table-article></table-article>
    </div>
</template>

<script>
import TableArticle from './TableArticle.vue'

export default{
    components: {
        TableArticle
    },
    beforeCreate: function () {
      if (!this.$cookies.get('accessToken')) {
        this.$router.push('/not-authorized')
      }
    },
}
</script>
