<!-- =========================================================================================
    File Name: tableFilterSorter.vue
    Description: Add filter and sorting functionality to table
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
    <vx-card title="Article" code-toggler>
        <div class="demo-alignment">
            <vs-button color="primary" @click="addData()" type="filled">+ Add Articles </vs-button>
        </div>

        <vs-table pagination :max-item="10" search :data="articles">
            <template slot="thead">
                <vs-th sort-key="name">Name</vs-th>
                <vs-th sort-key="email">Email</vs-th>
                <vs-th sort-key="github">Github</vs-th>
                <vs-th sort-key="twitter">Twiter</vs-th>
                <vs-th sort-key="location">Location</vs-th>
                <vs-th sort-key="latest_article_published">Latest Article Published</vs-th>
                <vs-th sort-key="action">Action</vs-th>
            </template>
            <template slot-scope="{data}">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">

                    <vs-td :data="data[indextr].name">
                        {{data[indextr].name}}
                    </vs-td>

                    <vs-td :data="data[indextr].email">
                        {{data[indextr].email}}
                    </vs-td>

                    <vs-td :data="data[indextr].github">
                        {{data[indextr].github}}
                    </vs-td>

                    <vs-td :data="data[indextr].twitter">
                        {{data[indextr].twitter}}
                    </vs-td>

                    <vs-td :data="data[indextr].location">
                        {{data[indextr].location}}
                    </vs-td>

                    <vs-td :data="data[indextr].latest_article_published">
                        {{data[indextr].latest_article_published}}
                    </vs-td>

                    <vs-td :data="data[indextr].uuid">
                        <vs-row>
                            <div class="demo-alignment">
                                <vx-tooltip color="warning" text="Edit">
                                    <vs-button radius color="warning" type="filled" icon-pack="feather" icon="icon-edit" @click="editData(data[indextr].uuid)"></vs-button>
                                </vx-tooltip>
                                <vx-tooltip color="danger" text="delete">
                                    <vs-button radius color="danger" type="filled" @click="deleteData(data[indextr].uuid)" icon-pack="feather" icon="icon-trash"></vs-button>                     
                                </vx-tooltip>
                            </div>
                        </vs-row>
                    </vs-td>

                </vs-tr>
            </template>
        </vs-table>
    </vx-card>
</template>
<script>

import axios from 'axios'

export default {
    data() {
        return {
            articles: []
        }
    },
    methods: {
        addData () {
            this.$router.push('/data/article/add')
        },
        editData (uuid) {
            console.log('http://backend.local/api/authors/'+ uuid);
            this.$router.push({name: 'data-article-edit', params: { uuid: uuid }})
        },
        deleteData (uuid) {
            axios
                .delete('http://backend.local/api/authors/' + uuid)
                .then(res => {
                    console.log(res);
                    this.$router.go();
                })
        }
    },
    mounted () {
        axios
            .get('http://backend.local/api/authors')
            .then(response => (this.articles = response.data))
            .catch(error => console.log(error))
        
    }
}
</script>
