<template>
  <div>
    <vs-input
        v-validate="'required|email|min:3'"
        data-vv-validate-on="blur"
        name="email"
        icon-no-border
        icon="icon icon-user"
        icon-pack="feather"
        label-placeholder="Email"
        v-model="user.email"
        class="w-full"/>
    <span class="text-danger text-sm">{{ errors.first('email') }}</span>

    <vs-input
        data-vv-validate-on="blur"
        v-validate="'required|min:6|max:10'"
        type="password"
        name="password"
        icon-no-border
        icon="icon icon-lock"
        icon-pack="feather"
        label-placeholder="Password"
        v-model="user.password"
        class="w-full mt-6" />
    <span class="text-danger text-sm">{{ errors.first('password') }}</span>

    <div class="flex flex-wrap justify-between my-5">
        <!-- <vs-checkbox v-model="user.checkbox_remember_me" class="mb-3">Remember Me</vs-checkbox> -->
        <router-link to="/forgot-password">Forgot Password?</router-link>
    </div>
    <div class="flex flex-wrap justify-between mb-3">
      <vs-button  type="border" @click="registerUser">Register</vs-button>
      <vs-button :disabled="!validateForm" @click="loginAuth">Login</vs-button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user:{
        email: 'ukihn@example.com',
        password: 'password',
      }
    }
  },
  computed: {
    validateForm() {
      return !this.errors.any() && this.email != '' && this.password != '';
    },
  },
  methods: {
    checkLogin() {
      // if (this.$store.state.auth.isUserLoggedIn()) {
      if (this.$store.state.auth.isUserLoggedIn()) {

        // Close animation if passed as payload
        // this.$vs.loading.close()

        this.$vs.notify({
          title: 'Login Attempt',
          text: 'You are already logged in!',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'warning'
        })
        // this.$router.push('/dashboard')
        return false
      }
      return true
    },
  
    registerUser() {
      if (!this.checkLogin()) return
      this.$router.push('/register').catch(() => {})
    },

    loginAuth() {
      // if (!this.checkLogin()) return

      // Loading
      this.$vs.loading()
      this.$store.dispatch('auth/loginUser', this.user)
      .then(() => { this.$vs.loading.close() })
      .catch(error => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
      })
    }
  },
  beforeCreate: function () {
    if (this.$cookies.get('accessToken')) {
      this.$router.push('/dashboard')
    }
  },
}

</script>

