<template>
    <!-- <div id="page-user-create"> -->
        <div class="vx-col md:w-1/2 w-full mb-base">
			<vx-card title="Add New User">
                <form>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-select v-model="form.company" v-validate="'required'" name="company" label="Company" class="select-large mt-5 w-full">
                                <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in form.options1" />
                            </vs-select>
                            <span class="text-danger text-sm"  v-show="errors.has('company')">{{ errors.first('company') }}</span>
                        </div>
                    </div>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-input class="w-full" v-validate="'required'" name="name" label="Name" v-model="form.name" />
                            <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>
                        </div>
                    </div>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-input class="w-full" v-validate="'required|email'" name="email" type="email" label="Email" v-model="form.email" />
                            <span class="text-danger text-sm"  v-show="errors.has('email')">{{ errors.first('email') }}</span>
                        </div>
                    </div>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-select v-model="form.city" v-validate="'required'" name="city" label="City" class="select-large mt-5 w-full">
                                <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in form.options2" />
                            </vs-select>
                            <span class="text-danger text-sm"  v-show="errors.has('city')">{{ errors.first('city') }}</span>
                        </div>
                    </div>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-checkbox class="inline-flex" name="isAdmin" v-model="form.isAdmin">As Administrator</vs-checkbox>
                        </div>
                    </div>
                    <vs-divider></vs-divider>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-input class="w-full" type="password" id="pass1" v-validate="'required|min:6'" name="password" label="Password" v-model="form.password" />
                            <span class="text-danger text-sm"  v-show="errors.has('password')">{{ errors.first('password') }}</span>
                        </div>
                    </div>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-input class="w-full" type="password" v-validate="'required'" name="password-confirmation" id="pass2" label="Password Confirmation" v-model="form.input4" />
                            <span class="text-danger text-sm"  v-show="errors.has('password-confirmation')">{{ errors.first('password-confirmation') }}</span>
                        </div>
                    </div>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-checkbox class="inline-flex" name="isActive" v-model="form.isActive">Active</vs-checkbox>
                        </div>
                    </div>
                    <vs-divider></vs-divider>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-select v-model="form.group" v-validate="'required'" name="group" label="Group User" class="select-large mt-5 w-full">
                                <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in form.options3" />
                            </vs-select>
                            <span class="text-danger text-sm"  v-show="errors.has('group')">{{ errors.first('group') }}</span>
                        </div>
                    </div>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <div class="vx-row w-full">
                                <div class="vx-col w-5/6">
                                    <vs-input class="w-full" icon-pack="feather" v-validate="'required'" name="contact" icon="icon-search" icon-after vs-icon-after="true" label="Contact" v-model="form.contact" />
                                    <span class="text-danger text-sm"  v-show="errors.has('contact')">{{ errors.first('contact') }}</span>
                                </div>
                                <div class="vx-col w-1/6">
                                    <vs-button radius color="danger" type="filled" icon-pack="feather" @click="removeContact" id="remove-contact" icon="icon-x" style="margin-top: 20px"></vs-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="vx-row">
                        <div class="vx-col w-full">
                            <vs-button class="mr-3 mb-2" @click.prevent="submitForm">Submit</vs-button>
                            <vs-button color="warning" type="border" class="mb-2" @click="form.name = form.email = form.password = input4 = form.contact = form.company = form.city = form.group = ''; isAdmin = false">Reset</vs-button>
                        </div>
                    </div>
                </form>

            </vx-card>
        </div>
    <!-- </div> -->
</template>

<script>
import { Validator } from 'vee-validate';
import axios from 'axios'

const dict = {
  custom: {
    name: {
      alpha: "Your name may only contain alphabetic characters"
    },
    email: {
      email: "The email field must be a valid email"
    },
    password: {
        min: "Your password must 6 characters or more"
    }
  }
};

// register custom messages
Validator.localize('en', dict);

export default {
    data() {
        return {
            form: {
                name: "",
                email: "",
                password: "",
                input4: "",
                contact: "",
                isAdmin: false,
                isActive: true,
                company: "",
                options1: [
                    {text: "Pilarmedia Indonesia", value: 1},
                    {text: "Test1", value: 2},
                    {text: "Test2", value: 3},
                    {text: "Test3", value: 4},
                    {text: "Test4", value: 5},
                ],
                city: "",
                options2: [
                    {text: "Surabaya", value: 1},
                    {text: "Mojokerto", value: 2},
                    {text: "Malang", value: 3},
                    {text: "Gresik", value: 4},
                    {text: "Kediri", value: 5},
                ],
                group: "",
                options3: null,

            }
        }
    },
    methods: {
        submitForm() {
            this.$validator.validateAll().then(result => {
                if(result) {
                    // if form have no errors
                    axios
                         .post('http://backend.local/api/users', this.form)
                         .then((res) => {
                              this.$router.push('/data/user')
                         })
                         .catch((error) => {
                              this.$router.push('/data/user')
                         });
                }else{
                    // form have errors
                }
            })
        },
        removeContact() {
            this.form.contact = ""
        }
    },
    mounted (){
        axios.get('http://backend.local/api/users/create')
            .then(response => (
                // console.log(response.data),
                this.form.options3 = response.data
                ))
            .catch(error => console.log(error))
    }
}
</script>